# AWS S3 Configuration (Names must be globally unique)
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_BUCKET_NAME_IMAGES=dynamic-image-tx-uploads-2026
AWS_BUCKET_NAME_TRANSFORMED=dynamic-image-tx-transformed-2026
AWS_REGION=us-east-1
AWS_SECRET_ACCESS_KEY=your_secret_access_key

# Database Configuration
DATABASE_URL=postgres://user:password@host:port/database

# Application Configuration
PORT=3001

# Security Configuration
SIGNING_SECRET=your_32_character_hmac_secret

# --- AUTOMATED INFRASTRUCTURE SECTION ---
# The variables below are populated automatically by the `bun run infra:setup` command.
# If provisioning manually, copy the values from the AWS Console after creation.
# If you choose to do manually, then you should not add these variables here 
# (they will be added automatically if you use the infra setup script, but on manual provisioning you have to add them yourself).

# Automated Infrastructure AWS_LAMBDA_ROLE_ARN
AWS_LAMBDA_ROLE_ARN=

# Automated Infrastructure AWS_LAMBDA_FUNCTION_URL
AWS_LAMBDA_FUNCTION_URL=

# Automated Infrastructure CLOUDFRONT_DISTRIBUTION_ID
CLOUDFRONT_DISTRIBUTION_ID=

# Automated Infrastructure CLOUDFRONT_DOMAIN
CLOUDFRONT_DOMAIN=
