# AWS S3 Configuration (Names must be globally unique)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_BUCKET_NAME_IMAGES=dynamic-image-tx-uploads-2026
AWS_BUCKET_NAME_TRANSFORMED=dynamic-image-tx-transformed-2026
